.selectedPage {
  width: 35px;
  height: 35px;
  line-height: 35px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fc3000;
  color: white;
  display: inline-block;
  cursor: pointer;
  margin-top: 1rem;
}

.unSelectedPage {
  width: 35px;
  height: 35px;
  line-height: 35px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #000000;
  color: #000000;
  display: inline-block;
  cursor: pointer;
}
